/*html {*/
/*    overflow-y: scroll;*/
/*}*/

.page {
    display: table;
    width: 100%;
}

.col-middle {
    min-width: 1100px;
    max-width: 1100px;
}

.col-header-logo {
    width: 150px;
}

.col-header-time {
    width: 260px;
}

.col-header-address {
    width: 690px;
}

.container-custom {
    height: 100%;
    display: table;
    width: 100%;
    padding: 0;
}

.row-fluid {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.row .custom {
    background-color: #f2f2f2;
    height: 80px;
}
.row .searchandfilter {
    height: 90px;
}

.scroll-small{
    height: calc(100vh - 320px);
    overflow-y: auto;
}

.scroll-full{
    height: calc(100vh - 230px);
    overflow-y: auto;
}

.centering {
    float: none;
    margin: 0 auto;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #2e3192;
}

.nav-link {
    color: #000000;
}

.nav-link:hover {
    color: #2e3192;
}
a {
    color: #000000;
    text-decoration: none;
}
.image-container {
    padding: 0;
}
.form-select {
    border: 2px solid #2e3192;
}

.form-select:focus {
    border-color: #2e3192;
    box-shadow: 0 0 0 0.2rem rgba(46, 49, 146, 0.4);
}

.form-control {
    border: 2px solid #2e3192;
}
.form-control:focus {
    border-color: #2e3192;
    box-shadow: 0 0 0 0.2rem rgba(46, 49, 146, 0.4);
}

.btn-violet {
    height: 50px;
    color: #f0f0f0;
    background: #2e3192;
    border-color: #2e3192;
    margin-left: -1px;
}
.btn-violet:focus{
    border-color: #2e3192;
    box-shadow: 0 0 0 0.2rem rgba(46, 49, 146, 0.4);
}

.btn-violet:hover {
    color: #f0f0f0;
}
.form-select{
    margin-right:30px;
    width: 400px;
    height: 50px;
}
.input-group{
    width: 565px;
    height: 50px;
}
.doctor-card{
    width: 330px;
    height: 330px;
}
.doctor-image-container {
    width: 230px;
    padding: 0;
}
.row .with_margin {
    margin-left: 45px;
}
.text-color-1 {
    color: #2e3192;
}
.direction-image-container {
    height: 100px;
    padding: 0;
}
.direction-card{
    width: 330px;
    height: 270px;
}
.text-color-2 {
    color: #000000;
}
