<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ru">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Medical Center</title>
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mainPage.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid">
    <!--    Header-->
    <div class="row" style="background-color: #e2f0d9; height: 100px">
        <div class="col"></div>
        <div class="col-middle">
            <div class="row">
                <!--                Лого-->
                <div class="col-header-logo">
                    <img src="/images/logo.png" width="100" alt="" height="100">
                </div>
                <!--                Расписание-->
                <div class="col-header-time">
                    <div class="container-custom">
                        <div class="row-fluid">
                            ПН-СБ с 8:00 до 20:00
                            <br>
                            ВС с 10:00 до 18:00
                        </div>
                    </div>
                </div>
                <!--                Адрес-->
                <div class="col-header-address">
                    <div class="container-custom">
                        <div class="row-fluid">
                            <img src="/images/location.png" width="23" alt="" height="23">
                            г. Владимир, ул. Пушкина, д. 5г
                            <br>
                            <div class="mt-1">
                                <img src="/images/phone.png" width="23" alt="" height="23">
                                8 (4922) 66-66-88
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <!--    Main area-->
    <div class="row" style="min-height: calc(100vh - 150px)">
        <div class="col">
            <div class="row custom"></div>
            <div class="row"></div>
        </div>
        <div class="col-middle">
            <div id="react"></div>
        </div>
        <div class="col">
            <div class="row custom"></div>
            <div class="row"></div>
        </div>
    </div>
    <!--    Footer-->
    <div class="row" style="height: 50px; background-color: #e2f0d9">
        <div class="col"></div>
        <div class="col-middle">
            <div class="mt-2"></div>
            © 2021 Учебный проект: «Медицинский центр» by Ruslan Chkalov
        </div>
        <div class="col"></div>
    </div>
</div>


<script src="built/bundle.js"></script>
</body>
</html>